html, body, #root{
  height:100%;
  padding:0;
  margin:0;
}

.page{
  height:100%;
}

.movieSearch{
  height:100%;
  font-family:arial;
  font-size:1.5em;
}

header{
  background-color:var(--header-background, #fff);
  height:60px;
}

header .logo{
  font-size: 2rem;
}

.pageWrapper{
  height:calc(100% - 60px);
  overflow:auto;
}

.content{
  background-color: green;
  min-height:100%;
}
