.detail.page .title{

}

.detail.page .movieDetails .grid{
  display: grid;
  grid-template-columns: 400px 1fr;
}

.detail.page .movieDetails h2{
  margin-top:0px;
}


.detail.page .movieDetails section{
  margin-top:20px;
}

.detail.page .movieDetails section.tagline{
  font-size:1.7rem;
}

.detail.page .movieDetails section.overview{
  padding:5px;
}

.detail.page .movieDetails section.title{
  margin-top:0px;
  padding-top:20px;
}

.detail.page .movieDetails .detailGrid{
  display: grid;
  grid-template-columns: 112px 1fr;
}
